.dashboard {
  & footer {
    b {
      color: var(--color-secondary);
    }
  }

  & .dash-link {
    width: 100%;

    &.active {
      .container {
        background-color: var(--color-white);
        color: var(--color-dark);
      }

      .icon {
        background-color: var(--color-secondary);
        color: var(--color-white);
      }
    }

    .container {
      padding: 1rem;
      border-radius: 15px;
      color: var(--color-grey);
    }

    .icon {
      background-color: var(--color-white);
      color: var(--color-secondary);
      border-radius: 20px;
    }
  }
}
